{% extends "base.html" %}

{% block content %}
<h2 class="title">Sitemap</h2>
<div class="content">

	<p>
		<b data-bs-toggle="tooltip" title="Explore the worlds of imagination and adventure through these tales. Each story invites you to travel beyond the ordinary, meet unforgettable characters, and experience journeys that stay with you long after the last page is turned.">
			TANKEN
		</b> suru sekai wa souzou to bouken de afurete iru monogatari no naka ni.
		Sorezore no monogatari ga, futsuu o koete tabi o shi, wasurerarenai kyarakutaa ni
		deai, saigo no peeji o yonda nochi mo kokoro ni nokoru bouken o keiken saseru.
	</p>

  {% if not books %}
    <p>No files found.</p>
  {% else %}
    <ul>
      {% for book_name, chapters in books.items() %}
        <li><strong>{{ book_name }}</strong>
          <ul>
            {% for chapter in chapters %}
              <li>
                <a href="{{ url_for('render_md', md_path=chapter['path']) }}">
                  {{ chapter['title'] }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
